{% extends 'base.html.twig' %}

{% block title %} rule {% endblock %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Text Editors</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Text Editors</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content p-5">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline card-info">
                    <div class="card-header">
                        <h3 class="card-title">
                            Rule
                        </h3>
                    </div>

                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <pre class="language-rule" data-controller="rule">
                            <code contenteditable="true" id="rule" data-action="keyup->rule#highlight">
                                INSERT your RULE here
                            </code>
                        </pre>

                    </div>
                </div>
            </div>
            <!-- /.col-->
        </div>
        <!-- ./row -->
    </section>
    <!-- /.content -->
    <!-- /.content-wrapper -->

{% endblock %}