{% extends 'base.html.twig' %}

{% block title %} Rule Expression {% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <div class="folder-content-header content-header mb-5"><!-- schema of current file -->
        <div class="container-fluid  pt-4 pr-4  pb-0 ">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left d-flex align-items-center">
                        <li class="breadcrumb-item"><i class="fas fa-home"></i></li>
                        <li class="breadcrumb-item active">Classification Rules</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div>
        <div class="d-flex flex-column">

            <!-- Button trigger modal -->
            <div class="d-flex  flex-row justify-content-end ">
                <button type="button" class="btn btn-warning icon-btn" data-toggle="collapse"
                        data-target="#multiCollapseExample2" aria-expanded="false"
                        aria-controls="multiCollapseExample2">
                    <i class="fas fa-info  icon-btn"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- /.content-header -->

    <div class="row">
    <div class="col">
        <!-- Main content -->
        <section class="content p-2 pb-0 rule">

            <div class="row">
                <div class="col-md-12">
                    {{ include('rule/components/_createRule.html.twig' , {'rule_form': rule_form  } ) }}

                </div>
                <!-- /.col-->
            </div>
            <!-- ./row -->
        </section>
        <section class="content-header pt-0 p-2 ">

            {{ include('rule/components/_ruleList.html.twig' , {'rules': rules  } ) }}

            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
        <!-- /.content-wrapper -->
    </div>
    <aside class="col-4 pt-2 collapse " id="multiCollapseExample2">

        {{ include('rule/components/_ruleInfo.html.twig' , {'operators': operators  } ) }}

    </aside>
{% endblock %}