{% extends 'base.html.twig' %}

{% block title %}Folder index{% endblock %}

{% block body %}
    <h1>Folder index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for folder in folders %}
            <tr>
                <td>{{ folder.id }}</td>
                <td>
                    <a href="{{ path('folder_show', {'id': folder.id}) }}">show</a>
                    <a href="{{ path('folder_edit', {'id': folder.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('folder_new') }}">Create new</a>
{% endblock %}
