
<div class="card">
    <div class="card-header border-0">
        <div class="d-flex justify-content-between">
            <h3 class="card-title">Document Latest Modifications</h3>
        </div>
    </div>
    <div class="card-body">
        {% for action in history.data %}
            <a href="#" class="dropdown-item">
                <!-- Message Start -->
                <div class="media">
                    <img src="{{ asset('assets/img/user1-128x128.jpg') }}" alt="User Avatar"
                         class="img-size-50 mr-3 img-circle">
                    <div class="media-body">

                            <p class="float-right text-sm text-muted"><i class="far fa-clock mr-1"></i> {{ action.created_at|date_modify("+1 day")|date("m/d/Y")  }}</p>


                        <p class="text-sm">{{ action.message }}</p>
                    </div>
                </div>
                <!-- Message End -->

            </a>
            <div class="dropdown-divider"></div>
        {% endfor %}
        <a href="#" class="dropdown-item dropdown-footer">See All History</a>
    </div>
</div>